---
title: new Cedar( opts )
layout: documentation.hbs
---


## new Cedar( opts )
Create a new chart using an object that can include specification from a template, dataset and mappings, and style overrides.  This is optional and any of the parameters can be later specified through accessors as `chart.dataset` is shown in the example below.

The chart will not appear until <a href="{{assets}}api/show.html">`.show()`</a> is called.

`new Cedar( opts )`

### Arguments

| Name | Type | Required? | Description |
| --- | --- | --- | --- |
| `definition` | <`string or object`> | no | URL to a complete chart <a href="{{assets}}api/json/definition-json.html">definition</a> (dataset + specification) or an inline <a href="{{assets}}api/json/definition-json.html">definition</a> object. |
| `specification` | <`string or object`> | no | URL to a Cedar <a href="{{assets}}api/json/specification-json.html">specification</a> or an inline <a href="{{assets}}api/json/specification-json.html">specification</a> object. |
| `dataset` | <`object`> | no | <a href="{{assets}}api/json/dataset-json.html">dataset</a> object. |



### Examples

```json
var chart = new Cedar({"specification":"{{assets}}data/templates/bar.json"});

//create the dataset w/ mappings
var dataset = {
  "url":"http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5",
  "mappings":{
    "group": {"field":"ZIP_CODE","label":"ZIP Code"},
    "count": {"field":"TOTAL_STUD","label":"Total Students"}
  }
};

//assign to the chart
chart.dataset = dataset;


// make the chart visible by attaching it to a DOM node
chart.show({
  elementId: "#chart"
});
```