<aside class="sidebar">
  <h5><a href="{{assets}}api/index.html">Cedar Javascript API</a></h5>
  <ul>
    <li><a href="{{assets}}api/create.html">new Cedar( opt )</a></li>
  </ul>
  <h5>Properties</h5>
  <ul>
    <li><a href="{{assets}}api/dataset.html">.dataset</a></li>
    <li><a href="{{assets}}api/specification.html">.specification</a></li>
  </ul>
  <h5>Methods</h5>
  <ul>
    <li><a href="{{assets}}api/show.html">.show( opt )</a></li>
    <li><a href="{{assets}}api/update.html">.update( )</a></li>
    <li><a href="{{assets}}api/on.html">.on( evt, fn )</a></li>
    <li><a href="{{assets}}api/off.html">.off( evt )</a></li>
    <li><a href="{{assets}}api/select.html">.select( opt )</a></li>
  </ul>

  <h5>Json Objects</h5>
  <ul>
    <li><a href="{{assets}}api/json/specification-json.html">Specification</a></li>
    <li><a href="{{assets}}api/json/dataset-json.html">Dataset </a></li>
    <li><a href="{{assets}}api/json/definition-json.html">Definition</a></li>
  </ul>

</aside>