<aside class="sidebar">

  <h5>Using Specifications</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/bar-spec-url.html">Specification URL</a></li>
      <li><a href="{{assets}}examples/bar-spec-inlined.html">Inline Specification</a></li>
      <li><a href="{{assets}}examples/bar-spec-override.html">Style Overrides</a></li>
    </ul>
  </nav>

<!--  <h5>Using Definitions</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/scatter-def-url.html">Load from URL</a></li>
      <li>In-lined</li>
    </ul>
  </nav>
  -->
  <h5>Events</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/scatter-events.html">Scatter Plot Events</a></li>
    </ul>
  </nav>
  <h5>Map Integration</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/bar-map-integration.html">With JS API Map</a></li>
      <li><a href="{{assets}}examples/bar-map-leaflet-integration.html">With Leaflet Map</a></li>
    </ul>
  </nav>

   
   
</aside>
