<aside class="sidebar">


  <h5 class="page-header">Chart Types</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/bar.html">Bar Chart</a></li>
      <li><a href="{{assets}}examples/horizontal.html">Horizontal Chart</a></li>
      <li><a href="{{assets}}examples/grouped.html">Grouped Bar Chart</a></li>
      <li><a href="{{assets}}examples/scatter-def-url.html">Scatterplot</a></li>
      <li><a href="{{assets}}examples/bubble.html">Bubble Scatterplot</a></li>
      <li><a href="{{assets}}examples/simple-pie.html">Pie Chart</a></li>
      <li><a href="{{assets}}examples/multiple.html">Multiple Charts</a></li>
      <li><a href="{{assets}}examples/sparkline.html">Sparkline</a></li>
      <li><a href="{{assets}}examples/time.html">Timeline</a></li>
      <li><a href="{{assets}}examples/time-aggregation.html">Time Aggregation</a></li>
      <li><a href="{{assets}}examples/time-dots.html">Time facets</a></li>
      <li><a href="{{assets}}examples/time-trendline.html">Time with Trendline</a></li>
      <li><a href="{{assets}}examples/map.html">Map Chart</a></li>
    </ul>
  </nav>

  <h5>Events</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/dynamic.html">Dynamic Data</a></li>
      <li><a href="{{assets}}examples/scatter-events.html">Scatter Plot Events</a></li>
      <li><a href="{{assets}}examples/drill-down.html">Drill Down</a></li>
      <li><a href="{{assets}}examples/events.html">Setting Events</a></li>
    </ul>
  </nav>
  <h5>Map Integration</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/map-to-chart-interaction.html">Map Interaction</a></li>
      <li><a href="{{assets}}examples/bar-map-leaflet-integration.html">With Leaflet Map</a></li>
      <li><a href="{{assets}}examples/filter-chart-by-map-extent.html">Filter by Geometry</a></li>
      <li><a href="{{assets}}examples/filter-chart-by-bbox.html">Filter by Extent</a></li>
    </ul>
  </nav>

  <h5>Additional Examples</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/errorbars.html">Error bars</a></li>
      <li><a href="{{assets}}examples/complex-map-multiple-chart.html">Map and Multiple Charts</a></li>
      <li><a href="{{assets}}examples/inlined-data.html">Local Inline Data</a></li>
      <li><a href="{{assets}}examples/sizes.html">Chart Size and Resizing</a></li>
      <li><a href="{{assets}}examples/responsive-example.html">Responsive Charts</a></li>
    </ul>
  </nav>

  <h5>Using Specifications</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/spec-url.html">Specification URL</a></li>
      <li><a href="{{assets}}examples/spec-inlined.html">Inline Specification</a></li>
      <li><a href="{{assets}}examples/spec-defaults.html">Defaults</a></li>
      <li><a href="{{assets}}examples/style-overrides.html">Style Overrides</a></li>
    </ul>
  </nav>

<!--  <h5>Using Definitions</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/scatter-def-url.html">Load from URL</a></li>
      <li>In-lined</li>
    </ul>
  </nav>
  -->




</aside>
