<aside class="sidebar">


  <h5>Chart Types</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/bar-spec-url.html">Bar Chart</a></li>
      <li><a href="{{assets}}examples/scatter-def-url.html">Scatterplot</a></li>
      <li><a href="{{assets}}examples/simple-pie.html">Pie Chart</a></li>
      <li><a href="{{assets}}examples/multiple.html">Multiple Charts</a></li>
      <li><a href="{{assets}}examples/time.html">Timeline</a></li>
      <li><a href="{{assets}}examples/time-dots.html">Time facets</a></li>
    </ul>
  </nav>

  <h5>Using Specifications</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/bar-spec-url.html">Specification URL</a></li>
      <li><a href="{{assets}}examples/bar-spec-inlined.html">Inline Specification</a></li>
      <li><a href="{{assets}}examples/bar-spec-override.html">Style Overrides</a></li>
      <li><a href="{{assets}}examples/bar-spec-defaults.html">Defaults</a></li>
    </ul>
  </nav>

<!--  <h5>Using Definitions</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/scatter-def-url.html">Load from URL</a></li>
      <li>In-lined</li>
    </ul>
  </nav>
  -->
  <h5>Events</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/scatter-events.html">Scatter Plot Events</a></li>
    </ul>
  </nav>
  <h5>Map Integration</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/bar-map-integration.html">With JS API Map</a></li>
      <li><a href="{{assets}}examples/bar-map-leaflet-integration.html">With Leaflet Map</a></li>
      <li><a href="{{assets}}examples/filter-chart-by-map-extent.html">Filter by Geometry</a></li>
      <li><a href="{{assets}}examples/filter-chart-by-bbox.html">Filter by BBOX</a></li>
      <li><a href="{{assets}}examples/map-to-chart-interaction.html">Map to Chart Interaction</a></li>
    </ul>
  </nav>

  <h5>Complex Examples</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/complex-map-multiple-chart.html">Map and Multiple Charts</a></li>
    </ul>
  </nav>

   
   
</aside>
