<aside class="sidebar">
  <h5>Simple Charts</h5>
  <nav>
    <ul>
      <li><a href="{{assets}}examples/simple-bar.html">Bar Chart</a></li>
      <li><a href="{{assets}}examples/simple-pie.html">Pie Chart</a></li>
      <li><a href="{{assets}}examples/simple-scatter.html">Scatter Plot</a></li>
    </ul>
  </nav>

  <h5>Chart Templates</h5>
  <nav>
    <ul>
      <li>Chart-Template inlined</li>
      <li>Chart-Template from AGO</li>
      <li><a href="{{assets}}examples/template-from-url.html">Chart-Template from url</a></li>
    </ul>
  </nav>

  <h5>Charts</h5>
  <nav>
    <ul>
      <li>Chart inlined</li>
      <li>Chart from AGO</li>
      <li>Chart from url</li>
    </ul>
  </nav>

  <h5>Data</h5>
  <nav>
    <ul>
      <li>Data from Service</li>
      <li>Data inlined</li>
      <li>Data in Chart</li>
    </ul>
  </nav>

  <h5>Map Integration</h5>
  <nav>
    <ul>
      <li>Link to JS API Map</li>
      <li>Link to Leaflet Map</li>
      <li>Link to pop-over</li>
    </ul>
  </nav>
   <a href="{{assets}}examples/helper.html">Helper</a>
</aside>
