<aside class="sidebar">
  <h5><a href="{{assets}}api/index.html">Cedar Javascript API</a></h5>
  <ul>
    <li><a href="{{assets}}api/create.html">new Cedar()</a></li>
    <li><a href="{{assets}}api/show.html">Cedar.show()</a></li>
    <li><a href="{{assets}}api/on.html">Events</a></li>
  </ul>
  <h5>Cedar Design</h5>
  <ul>
    <li><a href="{{assets}}api/specifications.html">Cedar Specifications</a></li>
  </ul>

</aside>