<aside class="sidebar">
  <h5>cedar</h5>
  <ul>
    <li>
      <a href="{{assets}}api-reference/request.html">Request</a>
    </li>
    <li>
      <a href="{{assets}}api-reference/utils.html">Utils</a>
    </li>
  </ul>

  <h5>L.esri.Layers</h5>
  <ul>
    <li>
      <a href="{{assets}}api-reference/layers/basemap-layer.html">BasemapLayer</a>
    </li>
    <li>
      <a href="{{assets}}api-reference/layers/tiled-map-layer.html">TiledMapLayer</a>
    </li>
    <li>
      <a href="{{assets}}api-reference/layers/dynamic-map-layer.html">DynamicMapLayer</a>
    </li>
    <li>
      <a href="{{assets}}api-reference/layers/image-map-layer.html">ImageMapLayer</a>
    </li>
    <li>
      <a href="{{assets}}api-reference/layers/feature-layer.html">FeatureLayer</a>
    </li>
    <li>
      <a href="{{assets}}api-reference/layers/clustered-feature-layer.html">ClusteredFeatureLayer</a>
    </li>
    <li>
      <a href="{{assets}}api-reference/layers/heatmap-feature-layer.html">HeatmapFeatureLayer</a>
    </li>
  </ul>

  <h5>L.esri.Services</h5>
  <ul>
    <li>
      <a href="{{assets}}api-reference/services/feature-layer.html">FeatureLayer</a>
    </li>
    <li>
      <a href="{{assets}}api-reference/services/map-service.html">MapService</a>
    </li>
    <li>
      <a href="{{assets}}api-reference/services/image-service.html">ImageService</a>
    </li>
    <li>
      <a href="{{assets}}api-reference/services/service.html">Service</a>
    </li>
  </ul>

  <h5>L.esri.Tasks</h5>
  <ul>
    <li>
      <a href="{{assets}}api-reference/tasks/identify-features.html">Identify Features</a>
    </li>
    <li>
      <a href="{{assets}}api-reference/tasks/identify-image.html">Identify Image</a>
    </li>
    <li>
      <a href="{{assets}}api-reference/tasks/query.html">Query</a>
    </li>
    <li>
      <a href="{{assets}}api-reference/tasks/find.html">Find</a>
    </li>
  </ul>

  <h5>Misc.</h5>
  <ul>
    <li>
      <a href="{{assets}}api-reference/events.html">Events</a>
    </li>
  </ul>
</aside>